{% extends "socialaccount/base.html" %}
{% load i18n %}
{% block form_header %}
    <h3 class="card-header text-warning">
        <i class="fas fa-link"></i><span class="p-2">{% trans "Connecting to 3rd Party Account" %}</span>
    </h3>
{% endblock %}
{% block form_body %}
    {% if process == "connect" %}
        <h4 class="text-warning">{% blocktrans with provider.name as provider %}Connect
            {{ provider }}{% endblocktrans %}</h4>

        <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from
            {{ provider }}.{% endblocktrans %}</p>
    {% else %}
        <h4 class="text-warning">{% blocktrans with provider.name as provider %}Sign In Via
            {{ provider }}{% endblocktrans %}</h4>

        <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from
            {{ provider }}.{% endblocktrans %}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="text-center">
            <button class="btn btn-primary" type="submit">{% trans "Continue" %}</button>
        </div>
    </form>
{% endblock %}
