{% extends 'base.html' %}
{% load account socialaccount crispy_forms_filters %}
{% block content %}
    {% block errors %}
    {% endblock %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                {% block form_header %}
                {% endblock %}
                <div class="card-body">
                    {% block form_body %}
                    {% endblock %}
                </div>
                {% block form_footer %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}