{% extends "account/base.html" %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block form_header %}
    <h4 class="card-header text-warning"><i class="fas fa-lock me-2"></i> {% trans "Change Password" %}</h4>
{% endblock %}
{% block form_body %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock %}
{% block form_footer %}
    <div class="card-footer">
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
{% endblock %}