{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block form_header %}
    <h4 class="card-header text-warning"><i class="fas fa-lock me-2"></i> {% trans "Password Reset" %}</h4>
{% endblock %}
{% block form_body %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% blocktrans %}We have sent you an e-mail with a password reset link. If you have not received it please check your spam folder. Otherwise
        contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
{% endblock %}
