{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
            <div>
                <a title="{{ brand.name }}"
                   class="socialaccount_provider {{ provider.id }} {{ brand.id }} btn btn-primary"
                   href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                >{{ brand.name }}</a>
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a title="{{ provider.name }}" class="socialaccount_provider {{ provider.id }} btn btn-primary"
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">Link to {{ provider.name }}</a>
    </div>
{% endfor %}
